  pandas
  numpy
  scikit-learn
  lightgbm
  xgboost
  mlflow
  uvicorn # For FastAPI
  fastapi # For API serving
#  faker # For data simulation
  joblib
  google-cloud-storage
  fsspec
  gcsfs
  pydantic # For FastAPI's BaseModel